<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<% if @item.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @item.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
